h1 {
    font-weight: bold;
    font-size: 20pt;
}

h2 { 
    font-weight: normal;
}

.header {
    color: black;
    text-align: center;
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 12;
    font-size: 10pt;
    line-height: 0.6cm;
          
}

.other_pages {
    background-color: rgb(255, 74, 74);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12pt;
    display: grid;
    padding: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 7px;
    grid-template-columns: auto auto auto auto;
}

.other_pages_item{
    background-color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 225, 225);
}

.relative {
    position: absolute;
    left: 20px;
    top: 78px;
    border-radius: 50%;
    overflow: hidden;
}